body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f14ffd;
    position: relative; /* Ajout d'une position relative pour référence */ 
}

h1 {
    color: #333;
}

p {
    color: #666;
}

#parallax-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%; /* pour centrer l'image verticalement */
    height: 5000px;
}

#changingImage {
    position: fixed; /* Image en position fixe par défaut */
    top: 50%; /* Au centre vertical */
    left: 50%; /* Au centre horizontal */
    width: 100vw;
    height: auto;
    transform: translate(-50%, -50%); /* Centrage parfait */
    z-index: -1; /* Assurez-vous que l'image est au-dessus du contenu */
}

#titleImage {
    display: flex;
    position: fixed;
    top: 50%; /* Au centre vertical */
    left: 50%;
    transform: translate(-50%, -50%);
}

.line {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 0;
    height: 2px; /* Épaisseur de la ligne */
    background-color: black;
    animation: growLine 2s forwards;
}

.image {
    position: fixed;
    top: 50%;
    transition: opacity 0.5s, transform 2s;
}

.image-start {
    left: 20px;
}

.image-end {
    right: 20px;
}

section {
    margin-bottom: 2rem;
}

/* Styles pour le pied de page */
footer {
    background: #333;
    color: #fff;
    text-align: center;
    padding: 1rem;
}

.hidden {
    display: none;
}

@keyframes growLine {
    0% {
        width: 0;
    }
    100% {
        width: 75%; /* Largeur de la ligne */
    }
}