body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f14ffd;
    position: relative; /* Ajout d'une position relative pour référence */ 
}

h1 {
    color: #333;
}

p {
    color: #666;
}

#parallax-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%; /* pour centrer l'image verticalement */
    height: 10000px;
}

#changingImage {
    position: fixed; /* Image en position fixe par défaut */
    top: 50%; /* Au centre vertical */
    left: 50%; /* Au centre horizontal */
    width: 100vw;
    height: auto;
    transform: translate(-50%, -50%); /* Centrage parfait */
    z-index: -1; /* Assurez-vous que l'image est au-dessus du contenu */
}

#titleImage {
    display: flex;
    position: fixed;
    top: 50%; /* Au centre vertical */
    left: 50%;
    transform: translate(-50%, -50%);
}

.arrow {
    width: 2px;
    height: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: growArrow 2s forwards;
}

.arrow:before,
.arrow:after {
    content: '';
    position: absolute;
    top: 0;
    width: 0;
    height: 0;
    border: 8px solid transparent; /* Taille des pointes de la flèche */
    border-top-color: white; /* Couleur des pointes de la flèche */
}

.arrow:before {
    left: -15px; /* Position de la pointe gauche */
    border-right: 4px solid white;
}

.arrow:after {
    right: -15px; /* Position de la pointe droite */
    border-left: 4px solid white;
}

.arrow-container {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
}

.arrow {
}

section {
    margin-bottom: 2rem;
}

/* Styles pour le pied de page */
footer {
    background: #333;
    color: #fff;
    text-align: center;
    padding: 1rem;
}

.hidden {
    display: none;
}

@keyframes growArrow {
    0% {
        width: 0;
    }

    100% {
        width: 75%;
    }
}