/* #region fonts */
@font-face {
    font-family: 'Garamond';
    src: url('content/fonts/EBGaramond-Bold.ttf') format('ttf');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Garamond';
    src: url('content/fonts/EBGaramond-BoldItalic.ttf') format('ttf');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'GaramondExtra';
    src: url('content/fonts/EBGaramond-ExtraBold.ttf') format('ttf');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'GaramondExtra';
    src: url('content/fonts/EBGaramond-ExtraBoldItalic.ttf') format('ttf');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Garamond';
    src: url('content/fonts/EBGaramond-Italic.ttf') format('ttf');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'GaramondMedium';
    src: url('content/fonts/EBGaramond-Medium.ttf') format('ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'GaramondMedium';
    src: url('content/fonts/EBGaramond-MediumItalic.ttf') format('ttf');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Garamond';
    src: url('content/fonts/EBGaramond-Regular.ttf') format('ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'GaramondSemiBold';
    src: url('content/fonts/EBGaramond-SemiBold.ttf') format('ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'GaramondSemiBold';
    src: url('content/fonts/EBGaramond-SemiBoldItalic.ttf') format('ttf');
    font-weight: normal;
    font-style: italic;
}
/* #endregion */

/* #region generic */
body {
    font-family: Garamond;
    margin: 0;
    padding: 0;
}

h1 {
    color: #333;
}

h2 {
    color: #b59e69;
    font-family: GaramondExtra;
    font-size: xx-large;
    text-transform: uppercase;
}

p {
    color: #666;
}

section {
    margin-bottom: 2rem;
}

.hidden {
    display: none;
}

footer {
    background: #333;
    color: #fff;
    text-align: center;
    padding: 1rem;
}
/* #endregion */

/* #region main */

/* #region onboard */
#onboard-anim {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10000px;
}

#img-scroll {
    position: fixed; 
    top: 50%;
    left: 50%;
    width: 100vw;
    height: auto;
    transform: translate(-50%, -50%);
    z-index: -1;
}

#SG-logo {
    display: flex;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
/* #endregion */
/* #region game-description */
#game-description {

}

.subtitle-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 20px;
}

/* #region trailer */
#trailer-container {
    width: 50vw;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    background-image: url('content/images/game_description/black_background.jpg');
    display: flex;
    flex-direction: column;
    gap: 50px;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 50px;
}
/* #endregion */
/* #endregion */

/* #endregion */

/* #region animations */
@keyframes growArrow {
    0% {
        width: 0;
    }

    100% {
        width: 75%;
    }
}
/* #endregion*/